.container {
    background-color: #B44A29;
    min-width: 450px;
    width: 450px;
    height: 450px;
    border-radius: 20px;
    border: 5px solid #EEDEA4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: auto auto 0;
}

@media (min-width: 625px) {
    .container {
        margin: 0;
    }
}

.form {
    width: 100%;
}

.formGroup {
    display: flex;
    gap: 10px;
}

.inputBar {
    flex: 1;
    background-color: white !important;
    border-radius: 10px !important;
    border-color: #10394A !important;
}

.searchButton {
    border-radius: 10px !important;
    border: 1px solid #10394A;
}

.captureButton {
    border-radius: 10px !important;
    border: 1px solid #10394A;
    width: 100%;
    margin-top: auto;
}

.spinner {
    margin: auto;
}

.errorMessage {
    margin: 5px auto 0 5px;
}