.container {
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.imageAndTypes {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.types {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-end;
    align-self: flex-end;
}

.typeTile {
    background-color: #EEDEA4;
    border-radius: 5px;
    border: 1px solid #10394A;
    width: fit-content;
    padding: 0px 5px;
    margin-top: 5px;
}

.stats {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
}

.statTile {
    background-color: #DE7352;
    border-radius: 5px;
    border: 1px solid #10394A;
    padding: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 90px;
}

@media (max-width: 475px) {
    .statTile {
        flex-grow: 1;
        flex-basis: 120px;
    }
}