.app {
  background-color: #10394A;
  width: 100%;
  min-height: 100vh;
  overflow-x: scroll;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokedex {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: auto;
}

@media (max-width: 475px) {
  .pokedex {
    margin: 0 0 auto;
  }
}

@media (min-width: 625px) {
  .pokedex {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.footer {
  color: white;
  margin: 10px auto 0;
  text-align: center;
}

.footer a:not(:last-child)::after {
  content: " | ";
}

